# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "smithy-selector-playground"
primary_region = "ams"
kill_signal = "SIGINT"
kill_timeout = 5
[build]
  image = "registry.fly.io/smithy-selector-playground"

[env]
  JAVA_OPTS = "-Xms384m -Xmx384m"

[experimental]
  auto_rollback = true

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "2s"
    restart_limit = 6
    method = "get"
    path = "/"
    protocol = "http"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
